<h2>Latest posts:</h2>
<br/>
<% @results.each do |post| %>
  <p>
    <b><%= post['content'] %></b>
    <br/>
    <br/>
    <i>Added at <%= post['created_date'] %></i>
    <br/>
    <br/>
    <a href="/details/<%= post['id'] %>">Comments</a>
    <hr>
  </p>
<% end %>