<h4>Here's Alex!</h4>
<p>Blogs</p>

<form action="/NewPost" method="post" role="form">
  <textarea class="form-control" rows="6"></textarea>
  <br>
  <button type="submit" class="btn btn-primary">Опубликовать</button>
</form>